body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  width: 100% !important;
  font-size: 14px;
}

.font-light{
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.section-news{

}
.date-news{
  color: #ed1550;
  font-size: 12px;
}

.previous-news{
  font-size: 13px;
}

.title-news{
  font-weight: 700;
  font-size: 18px;
}

.section-navbar {
  background-color: #ed1550 !important;
}

.navbar {
  background-color: #ed1550 !important;
  color: #ffffff;
}

.nav-item a {
  font-size: 18px;
  color: #ffffff !important;
}

.cart {

}

.slide-show {
  width: 100%;

}

.main-slide-show-margin{
   background: #FFFFFF;
   padding-top: 30px;
 }

.news-bar{
  background: #FFFFFF;
  padding-top: 30px;
}

.news-background{
  background: #f0f0f0;
  padding-bottom: 30px;
}

.news-margin{
  padding-top: 30px;
}

.section-donation-bar {
  background-color: #ffffff;
}

.wellow-background {
  background-color: #fff200;
  margin-top: 30px;
  position: relative;
}

.image-toy {
  position: absolute;
}

.donation-content {
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.donaiton-title{
  font-size: 30px;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}

.up-marketing-digital {
  text-decoration: none;
  color: #000000 !important;
}

@media (max-width: 767px) {
  .logotipo {
    max-height: 70px;
  }

  /* modificar quando alterar o slide-show */
  .slide-show div {
    height: 250px;
  }

  .img-toy {
    display: none;
  }

  .img {
    width: 100vw;
  }

}
