body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
  width: 100% !important;
  font-size: 14px;
}

.font-light{
  font-weight: 300;
}

.font-bold {
  font-weight: 700;
}

.section-news{

}
.date-news{
  color: #ed1550;
  font-size: 12px;
}

.previous-news{
  font-size: 13px;
}

.title-news{
  font-weight: 700;
  font-size: 18px;
}

.section-navbar {
  background-color: #ed1550 !important;
}

.navbar {
  background-color: #ed1550 !important;
  color: #ffffff;
}

.nav-item a {
  font-size: 18px;
  color: #ffffff !important;
}

.cart {
  background-color: #fff200 !important;
  border-radius: 10px !important;
}

.cart a {
  color: #000000 !important;
}

.slide-show {
  width: 100%;

}

.main-slide-show-margin{
   background: #FFFFFF;
   padding-top: 30px;
 }

 .section-donation-bar {
   background-color: #ffffff;
 }

 .wellow-background {
   background-color: #fff200;
   margin-top: 30px;
   position: relative;
 }

 .image-toy {
   position: relative;
 }

 .image-toy img {
   position: absolute;
   top: 0;
   left: 0;
 }

 .donation-content {
   color: #000000;
   padding-top: 15px;
   padding-bottom: 15px;
 }

 .donaiton-title{
   font-size: 30px;
   margin-top: 14px;
 }

.section-news {
  background-color: #f0f0f0;
  margin: 30px 0;
  padding: 30px 0;
}

.news-space {
  padding-bottom: 20px;
}

.btnMore {
  position: relative;
}

.btnMore a {
  position: absolute;
  background-color: #ed1550;
  color: #fff;
  border-radius: 15px;
  padding: 5px;
  bottom: -50px;
  left: calc(50% - 100px);
  width: 200px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.btnMore a:hover {
  background-color: #fff200;
  color: #000000;
}


/* start section about */
.section-about {
  padding-top: 30px;
}

.backgroud-grey {
  background-color: #f8f4f1;
}

.content-about {
  padding-top: 65px;
  padding-bottom: 80px;
}

.about-title {
  color: #02bef2;
}


/* end section about */


footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}

.up-marketing-digital {
  text-decoration: none;
  color: #000000 !important;
}

@media (max-width: 767px) {
  .logotipo {
    max-height: 70px;
  }

  /* modificar quando alterar o slide-show */
  .slide-show div {
    height: 250px;
  }

  .img-toy {
    display: none;
  }

  .img {
    width: 100vw;
  }

  .donaiton-title{
    /* font-size: 30px; */
    margin-top: 0;
  }

}
